{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "linebreak-style": "off",
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": [<enabled>, { "ignorePureComponents": <ignorePureComponents> }]
  }
}